/* -----Resets----- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
	margin: 0;
}

ul[role='list'], ol[role='list'] {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
html {
    scroll-behavior: smooth;
  }
:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}