@media (max-width: 720px) {
    main {
        margin: 2rem;
    }
    #welcome {
        margin-top: 4rem;
    }
    #welcome h1 {
        font-size: 2.5rem;
    }
    #welcome h3 {
        font-size: 4rem;
    }
    #welcome h2 {
        font-size: 6rem;
    }
    #enterlink {
        font-size: 10rem;
    }
    header {
        display: none;
    }
    .section-icon {
        font-size: 6rem;
    }
    .section-title {
        font-size: 6rem;
    }
    #about h4 {
        font-size: 4rem;
    }
    #about p, p {
        font-size: 3rem;
    }
    h4 {
        font-size: 4rem;
    }
    h5 {
        font-size: 4rem;
    }
    .contacts h5 {
        font-size: 4rem;
    }
    .why-me li {
        font-size: 3rem;
    }
    .why-me span {
        font-size: 3rem;
    }
    .contacts-card {
        flex-direction: column-reverse;
    }
    .profile-picture-container {
        width: 70%;
    }
    .contacts-info li {
        font-size: 3rem;
    }
    .experience-stats h3 {
        font-size: 8rem;
    }
    .experience-stats span {
        font-size: 2rem;
    }
    .languages .tech-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    #tech-skills h4 {
        font-size: 3rem;
    }
    #tech-skills li {
        font-size: 2rem;
    }
    #education h4 {
        font-size: 3.5rem;
    }
    #education h5 {
        font-size: 3rem;
    }
    #education h6 {
        font-size: 2.5rem;
    }
    #education li {
        font-size: 2rem;
    }
    #experience h4 {
        font-size: 3.5rem;
    }
    #experience h5 {
        font-size: 3rem;
    }
    #experience h6 {
        font-size: 2.5rem;
    }
    #projects h4 {
        font-size: 3.5rem;
    }
    #projects h5 {
        font-size: 3rem;
    }
    #projects h6 {
        font-size: 2.5rem;
    }
    #projects li {
        font-size: 2rem;
    }
    .project-images-container {
        margin: 1rem 0;
    }
    .certificates-wrapper {
        flex-wrap: wrap;
    }
    .certificate-card {
        width: 30%;
    }
    footer {
        display: none;
    }
}


