@media (min-width: 412px) {
    main {
        margin: 2rem;
    }
    #welcome {
        margin-top: 2rem;
    }
    #welcome h1 {
        font-size: 1rem;
    }
    #welcome h3 {
        font-size: 1.25rem;
    }
    #welcome h2 {
        font-size: 2rem;
    }
    header li {
        text-align: center;
    }
    header ul{
        flex-wrap: wrap;
    }
    h4 {
        font-size: 1.5rem;
    }
    .contacts-card {
        flex-direction: column-reverse;
    }
    .profile-picture-container {
        width: 60%;
    }
    .contacts-info li {
        font-size: 1.2rem;
    }
    .experience-stats h3 {
        font-size: 3rem;
    }
    .experience-stats span {
        font-size: 0.8rem;
    }
    .languages .tech-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    #projects h5 {
        font-size: 1rem;
    }
    .project-images-container {
        margin: 1rem 0;
    }
    .certificates-wrapper {
        flex-wrap: wrap;
    }
    .certificate-card {
        width: 30%;
    }
}


@media (min-width: 360px) {
    main {
        margin: 2rem;
    }
    #welcome {
        margin-top: 2rem;
    }
    #welcome h1 {
        font-size: 2rem;
    }
    #welcome h3 {
        font-size: 2rem;
    }
    #welcome h2 {
        font-size: 3rem;
    }
    #enterlink {
        font-size: 5rem;
    }
    header li {
        font-size: 1.5rem;
        text-align: center;
    }
    header ul{
        flex-wrap: wrap;
    }
    #about h4 {
        font-size: 3rem;
    }
    #about p {
        font-size: 2rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 3rem;
    }
    .contacts-card {
        flex-direction: column-reverse;
    }
    .profile-picture-container {
        width: 60%;
    }
    .contacts-info li {
        font-size: 2rem;
    }
    .experience-stats h3 {
        font-size: 5rem;
    }
    .experience-stats span {
        font-size: 1.5rem;
    }
    .languages .tech-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    #projects h5 {
        font-size: 1rem;
    }
    .project-images-container {
        margin: 1rem 0;
    }
    .certificates-wrapper {
        flex-wrap: wrap;
    }
    .certificate-card {
        width: 30%;
    }
}

@media (max-width: 359px) {
    main {
        margin: 2rem;
    }
    #welcome {
        margin-top: 2rem;
    }
    #welcome h1 {
        font-size: 2rem;
    }
    #welcome h3 {
        font-size: 2rem;
    }
    #welcome h2 {
        font-size: 3rem;
    }
    #enterlink {
        font-size: 5rem;
    }
    header li {
        font-size: 1.5rem;
        text-align: center;
    }
    header ul{
        flex-wrap: wrap;
    }
    #about h4 {
        font-size: 3rem;
    }
    #about p {
        font-size: 2rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 3rem;
    }
    .contacts-card {
        flex-direction: column-reverse;
    }
    .profile-picture-container {
        width: 60%;
    }
    .contacts-info li {
        font-size: 2rem;
    }
    .experience-stats h3 {
        font-size: 5rem;
    }
    .experience-stats span {
        font-size: 1.5rem;
    }
    .languages .tech-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    #projects h5 {
        font-size: 1rem;
    }
    .project-images-container {
        margin: 1rem 0;
    }
    .certificates-wrapper {
        flex-wrap: wrap;
    }
    .certificate-card {
        width: 30%;
    }
}

