@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

body {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: Gloria Hallelujah, cursive;
}


.enter {
    font-size: 3rem;
    text-align: center;
}
